= javascript_pack_tag 'academies'
.academies_list#academies
  .container{style: 'padding-top: 30px;'}
    .level
      .level-left
        .level-item
          %h1.title Uczelnie
        - if current_user&.admin?
          .level-item
            = button_to("Dodaj uczelnię", new_academy_path, class: 'button is-success', method: 'get')
      .level-right
        .level-item.has-text-centered
          %div
            %p.heading Uczelni
            %p.title
              = Academy.all.count
    .level
      .container
        - @academies.each do |academy|
          = link_to academy_path(academy.id) do
            %academy-box{':academy':academy.to_json, |
            ':fields_count':academy.field_of_studies_count, |
            ':interested_count':academy.interesteds_count }
    = paginate(@academies, class: 'pagination', method: :get)
          
