.field
  = label(:username, 'Nazwa użytkownika', class: 'label')
  .control.has-icons-left
    = f.text_field :username, class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-user
.field
  = label(:email, 'Email', class: 'label')
  .control.has-icons-left
    = f.email_field :email, class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-envelope
.field
  = label(:password, 'Hasło', class: 'label')
  .control.has-icons-left
    = f.password_field :password, autocomplete: "new-password", class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-key
.field
  = label(:password_confirmation, 'Powtórz hasło', class: 'label')
  .control.has-icons-left
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input'
    %span.icon.is-small.is-left
      %i.fas.fa-key
.field
  = label(:account_type, 'Status', class: 'label')
  .control
    .select
      = f.select(:account_type, [['Student', 'student'], ['Uczeń', 'schoolboy']], {}, { 'v-model': 'accountType' })