.columns{'v-if':'formIndex<3'}
  .column.is-9
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'userForm', ref: 'signup_form'}, remote: true, authenticity_token: true) do |f|
      = render 'devise/shared/error_messages', resource: resource
      #basics{'v-show':'formIndex==0'}
        = render 'basic_form', f: f
      #details{'v-show':'formIndex==1'}
        = render 'details_form', f: f
      #matura{'v-show':'formIndex==2'}
        .columns
          .column
            %h3.title.is-size-5 Wyniki matur:
            %br
            .container.is-fluid{'ref':'exams'}
              = f.fields_for :matura_results do |ff|
                = render partial: 'matura_result', locals: { f: ff, required: MaturaSubject.where(name: 'Język polski').first.id, level: 'basic' }
              = f.fields_for :matura_results do |ff|
                = render partial: 'matura_result', locals: { f: ff, required: MaturaSubject.where(name: 'Matematyka').first.id, level: 'basic' }
              = f.fields_for :matura_results do |ff|
                = render partial: 'matura_result', locals: { f: ff, required: MaturaSubject.where(name: 'Język angielski').first.id, level: 'basic' }
            %br
            .container{'v-on:click': 'addExam'}
              = link_to_add_exam('Dodaj egzamin', f, :matura_results, class: 'button is-primary is-pulled-right', level: 'advanced')
          .column
            %h3.title.is-size-5 Kierunki studiów:
            %br
            .container.is-fluid{'ref':'interests'}
            %br
            .container{'v-on:click': 'addInterest'}
              = link_to_add_exam('Dodaj kierunek', f, :study_interests, class: 'button is-primary is-pulled-right')
  .column.is-3{'v-if':'formIndex<3'}
    = render 'info_box'
.columns.is-centered{'v-if':'formIndex==3'}
  .column#finish
    .notification.is-success.has-text-centered.has-text-light
      %h1.title Twoje konto zostało utworzone!
      %br
      = button_to 'Sprawdź wyniki', root_path, method: :get, :class => 'button button is-rounded is-light'