- if resource.errors.any?
  #error_explanation.notification.is-danger
    %h2
      = I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
    %br
    .list.is-hoverable
      - resource.errors.full_messages.each do |message|
        %li.list-item
          = message