// ACADEMY
.academy {
    padding: 25px;
    background: linear-gradient(
        63deg,
        rgba(2, 0, 36, 0.9) 0%,
        rgba(201, 214, 234, 0.9) 45%,
        rgba(181, 255, 233, 0.9) 100%
      ),
      image-url("graduation.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  
    .title,
    .subtitle {
      text-shadow: 1px 1px 7px black;
      color: $light;
    }
  
    .heading {
      font-weight: bold;
      font-size: 9pt;
      color: $secondary;
      text-shadow: 2px 2px 5px black;
    }
  }
  
  .academy_photo {
    position: relative;
    height: 200px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: block;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
  }
  
  .academy_photo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0px 0px 150px black;
    backface-visibility: hidden;
    transition: box-shadow 1s linear;
  }
  
  .academy_photo:hover::after {
    box-shadow: none;
  }
  
  .academy_field_box {
    padding: 15px;
    position: relative;
    background-image: linear-gradient(
      33deg,
      rgba(232, 247, 238, 0.3) 0%,
      rgba(201, 214, 234, 0.3) 100%
    );
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    z-index: 1;
    backface-visibility: hidden;
    .heading {
      color: $dark;
      text-shadow: none;
      transition: color 0.7s ease-in-out;
    }
    .title {
      color: $light;
      text-shadow: 1px 1px 6px black;
      transition: color 0.7s ease-in-out, text-shadow 0.7s ease-in-out;
    }
  
    img {
      max-width: 100%;
    }
  }
  
  .academy_field_box:hover {
    padding: 15px;
    position: relative;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    z-index: 1;
    backface-visibility: hidden;
    .heading {
      color: $light;
    }
    .title {
      color: $dark;
      text-shadow: none;
    }
  }
  
  .academy_field_box::before {
    position: absolute;
    border-radius: 5.5px;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.7) 0%,
      rgba(201, 214, 234, 0.7) 45%,
      rgba(181, 255, 233, 0.7) 100%
    );
    z-index: -1;
    backface-visibility: hidden;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  
  .academy_field_box:hover::before {
    opacity: 1;
    .subtitle {
      color: $light;
    }
  }
  