.dashboard {
    .title {
        text-shadow: 1px 1px 7px black;
        color: $light;
    }

    .subtitle {
        text-shadow: 1px 1px 2px $dark;
        color: $dark_blue;
    }

    #detail_box {
        padding: 20px;
        margin: 10px;
        position: relative;
        background: linear-gradient(90deg, $white 55%, $primary 100%);
        z-index: 1;
        backface-visibility: hidden;
        transition: box-shadow 0.5s, transform 0.5s linear;
        .higher {
            color: $accent_red;
            font-weight: bold;
        }
        .lower {
            color: $accent_cyan;
            font-weight: bold;
        }
        .subtitle {
          color: $dark;
          transition: color 0.7s ease-in-out;
        }
        .info {
            color: $darker_blue;
            transition: color 0.7s ease-in-out;
          }
      }
      
      #detail_box:hover {
        box-shadow: 5px 5px 10px black;
        .subtitle {
          color: $light;
        }
        .info {
          color: $white;
          text-shadow: 1px 1px 3px $darker_blue;
        }
      }
      
      #detail_box::before {
        position: absolute;
        border-radius: 5.5px;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          90deg,
          rgba(2, 0, 36, 0.7) 0%,
          rgba(201, 214, 234, 0.7) 45%,
          rgba(181, 255, 233, 0.7) 100%
        );
        z-index: -1;
        backface-visibility: hidden;
        transition: opacity 0.5s linear;
        opacity: 0;
      }
      
      #detail_box:hover::before {
        opacity: 1;
        .subtitle {
          color: $light;
        }
        .info {
          color: $white;
        }
      }

    .list-item {
        position: relative;
        background: linear-gradient(90deg, $light 55%, $primary);
        color: $dark_blue;
        z-index: 1;
        backface-visibility: hidden;
        transition: color 1s ease-in-out;
      }

    .list-item:hover {
        color: $white;
    }
      
      .list-item::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          90deg, $light_blue, $dark_blue);
        z-index: -1;
        backface-visibility: hidden;
        transition: opacity 0.5s linear;
        opacity: 0;
      }
      
      .list-item:hover::before {
        opacity: 1;
      }
}