// FIELDS

.fields_list {
    background: linear-gradient(
        63deg,
        rgba(2, 0, 36, 0.9) 0%,
        rgba(201, 214, 234, 0.9) 45%,
        rgba(181, 255, 233, 0.9) 100%
      ),
      image-url("auditorium.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  
    .title {
      text-shadow: 1px 1px 7px black;
      color: $light;
    }
  
    .heading {
      font-weight: bold;
      font-size: 9pt;
      color: $secondary;
      text-shadow: 2px 2px 5px black;
    }
  }
  
  #field_box {
    padding: 25px;
    margin: 10px;
    position: relative;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    z-index: 1;
    backface-visibility: hidden;
    transition: box-shadow 0.5s, transform 0.5s linear;
    .subtitle {
      color: $dark;
      transition: color 0.7s ease-in-out;
    }
  }
  
  #field_box:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.05);
    .subtitle {
      color: $light;
    }
  }
  
  #field_box::before {
    position: absolute;
    border-radius: 5.5px;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.7) 0%,
      rgba(201, 214, 234, 0.7) 45%,
      rgba(181, 255, 233, 0.7) 100%
    );
    z-index: -1;
    backface-visibility: hidden;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  
  #field_box:hover::before {
    opacity: 1;
    .subtitle {
      color: $light;
    }
  }