// HOMEPAGE

#bg_video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1000;
    overflow: hidden;
  }
  
  @media (max-width: 767px) {
    #bg_video {
      display: none !important;
    }
  }
  
  #homepage_content {
      
    h1 {
      padding: 15px;
      font-family: $handwrited;
      font-size: 48pt;
      background: linear-gradient(45deg, $dark_blue 0%, $light_blue 70%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(1px 1px 3px $primary);
    }

  }
  
  #teaser {
    background: linear-gradient(
      70deg,
      rgba(232, 247, 238, 0.9) 0%,
      rgba(201, 214, 234, 0.9) 100%
    );

    border-radius: 15px;

    .fas {
      color: transparent;
      font-size: 30px;
      background-image: linear-gradient(45deg, $secondary, $accent_cyan);
      background-clip: text;
      -webkit-background-clip: text;
    }

    .card-header-title {
      font-weight: 200;
      font-size: 21px;
      font-family: $handwrited;
      letter-spacing: 110%;
      color: $darker_blue;
    }

    .content {
      color: $dark_blue;
    }
  }
  