%h1.title Raport
.container{style:'height: 650px; overflow: auto;'}
  .tile.is-ancestor
  - @fields.each_with_index do |field, id|
    .tile.is-12.is-vertical{style: 'padding: 10px;'}
      .box#detail_box
        .columns.is-centered.is-vcentered
          .column.is-5
            %span.subtitle 
              = field.name
            %p.info
              = "#{field.academy.name} - #{field.academy.city}"
          .column
            %p.heading Limit miejsc
            - unless field.students_limit.blank?
              %p 
                = field.students_limit
            - else
              %p Brak informacji
          .column
            %p.heading Próg punktowy
            - unless field.minimal_points.blank?
              %p 
                = field.minimal_points.to_s+' pkt'
            - else
              %p Brak informacji
          .column
            %p.heading Twój wynik
            %p 
              = "#{@user.results[id]} pkt"
          - unless current_user.interested_in_field?(field)
            .column
              %p.heading Zainteresowany?
              = link_to create_interest_path(interested: { user_id: current_user.id, field_detail_id: field.id }), method: :post, class: 'button is-fullwidth is-success' do
                %span.icon.is-small
                  %i.fas.fa-check
              
