.modal{'v-bind:class': "{ 'is-active': isVisible }"}
  .modal-background
  .modal-card
    %header.modal-card-head
      %p.modal-card-title Dodaj opinię
      %button.delete{ type: 'button', 'v-on:click':'closeModal()'}
    %section.modal-card-body
      .field
        %label.label Użytkownik
        .control
          %input.input{ disabled: true, value: current_user.username }
        = f.hidden_field :user_id, value: current_user.id
      .field
        - if resource.is_a? Academy
          %label.label Uczelnia
          = f.hidden_field :academy_id, value: resource.id
        - elsif resource.is_a? FieldOfStudy
          %label.label Kierunek
          = f.hidden_field :field_of_study_id, value: resource.id
          = f.hidden_field :academy_id, value: current_user.academy&.id
        .control
          %input.input{ disabled: true, value: resource.name }
      .field
        = label(:body, 'Opinia', class: 'label')
        .control
          = f.text_area :body, class: 'textarea'
      .field
        = f.label(:is_positive, 'Ocena', class: 'label')
        = f.radio_button :is_positive, true, class: 'is-checkradio', checked: true
        = f.label(:is_positive, 'Pozytywna', class: 'label', value: 'true')
        = f.radio_button :is_positive, false, class: 'is-checkradio'
        = f.label(:is_positive, 'Negatywna', class: 'label', value: 'false')
    %footer.modal-card-foot
      %button.button.is-success{ 'v-on:click':'submit()' } Zapisz
      %button.button.is-danger{ type: 'button', 'v-on:click':'closeModal()' } Anuluj