= paginator.render do
  %nav.pagination{"aria-label" => "pager", :role => "navigation"}
    = prev_page_tag unless current_page.first?
    = next_page_tag unless current_page.last?
    %ul.pagination-list
      - each_page do |page|
        - if page.display_tag?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag
