.login
  .container
    .columns.is-centered
      .column.is-half
        %br
        %h2.title Zaloguj się
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = label(:email, 'Email', class: 'label')
            .control.has-icons-left
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
              %span.icon.is-small.is-left
                %i.fas.fa-envelope
          .field
            = label(:password, 'Hasło', class: 'label')
            .control.has-icons-left
              = f.password_field :password, autocomplete: "current-password", class: 'input'
              %span.icon.is-small.is-left
                %i.fas.fa-lock
          - if devise_mapping.rememberable?
            .field
              = f.check_box(:remember_me, class: 'is-checkradio', id: 'rememberMeBox', name:'rememberMeBox', checked: 'checked')
              = label(:remember_me, 'Pamiętaj mnie', class: 'label', for: 'rememberMeBox')
          .field
            .control
            = f.submit "Zaloguj", class: 'button is-primary is-fullwidth'
        -# %br
        -# = render "devise/shared/links"
