$primary: #b5ffe9;
$secondary: #c9d6ea;
$link: #acbdba;

$light: #e8f7ee;
$dark: #444545;
$white: #f1f2eb;

$dark_blue: #191737;
$darker_blue: #020024;
$light_blue: #2274a5;
$accent_red: #fb3640;
$accent_cyan: #2ca58d;