// OVERFLOW

html {
    overflow: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

.app-content {
  background: linear-gradient(
    63deg,
    rgba(2, 0, 36, 0.9) 0%,
    rgba(201, 214, 234, 0.9) 45%,
    rgba(181, 255, 233, 0.9) 100%
  );
}