// NAVBAR

.navbar {
    background: $darker_blue;
  
    .register_button {
      color: $primary !important;
      font-weight: bold;
      backface-visibility: hidden;
      -webkit-transition: background-color 1s, color 1s ease-out;
      -moz-transition: background-color 1s, color 1s ease-out;
      -o-transition: background-color 1s, color 1s ease-out;
      transition: background-color 1s, color 1s ease-out;
    }
  
    .register_button:hover {
      color: $dark !important;
      font-weight: bold;
    }
  
    .navbar-item {
      color: $light;
      backface-visibility: hidden;
      -webkit-transition: background-color 1s, color 1s ease-out;
      -moz-transition: background-color 1s, color 1s ease-out;
      -o-transition: background-color 1s, color 1s ease-out;
      transition: background-color 1s, color 1s ease-out;
    }
  
    .navbar-item:hover {
      color: $dark;
    }
  }