// PAGINATION

.pagination {
    padding: 30px;
  }
  
  .pagination-link,
  .pagination-next,
  .pagination-previous {
    background: linear-gradient(45deg, $darker_blue 0%, $dark 100%);
    color: $light;
    text-decoration: none !important;
  }
  
  .pagination-link:hover,
  .pagination-next:hover {
    background-color: $darker_blue;
    color: $link;
    text-decoration: none !important;
  }
  
  .is-current {
    background: linear-gradient(45deg, $primary 0%, $secondary 100%);
    color: $dark !important;
  }