@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

$handwrited: 'Pacifico', cursive;

$text: $dark;
$background: $light;

$footer-background-color: $light;
$body-background-color: $secondary;
$box-background-color: $link;
$table-background-color: $light;