= javascript_pack_tag 'fields'
.fields_list#fields
  .container{style: 'padding-top: 30px;'}
    .level
      .level-left
        %h1.title Kierunki
        - if current_user && current_user.account_type == 'admin'
          .level-item
            = button_to("Dodaj kierunek", new_field_path, class: 'button is-success', method: 'get')
      .level-right
        .level-item.has-text-centered
          %div
            %p.heading Kierunków
            %p.title
              = @all_fields.count
    .level
      .container
        - @fields.each do |field|
          = link_to field_path(field.id) do
            %field-box{':field':{ |
              'id':field.id, |
              'name':field.name, |
              'type_enum':field.field_type, |
              'type':FieldOfStudy.human_enum_name(:field_type, field.field_type), |
              'academies_count':field.academies_count, |
              'interested_count':field.interesteds_count }.to_json }
    = paginate(@fields, class: 'pagination')
          
