// OPINION

.positive_opinion {
    background: linear-gradient(
      90deg,
      rgba($darker_blue, 0.7) 25%,
      rgba($link, 0.7) 100%
    );
    box-shadow: 2px 2px 4px black;
  
    strong {
      color: $light;
      text-shadow: 1px 1px 5px $darker_blue;
    }
  
    p {
      color: $light;
      text-shadow: 1px 1px 5px $darker_blue;
      font-style: italic;
    }
  
    .opinion_icon {
      color: $light;
    }
  }
  
  .negative_opinion {
    background: linear-gradient(
      90deg,
      rgba($link, 0.7) 0%,
      rgba($light, 0.7) 100%
    );
    box-shadow: 2px 2px 4px black;
  
    strong {
      color: $dark;
      text-shadow: 1px 1px 5px #888;
    }
  
    p {
      color: $dark;
      text-shadow: 1px 1px 5px #6e6e6e;
      font-style: italic;
    }
  
    .opinion_icon {
      color: $dark;
    }
  }